header{
    display: block;
    background-color: peru;
    position: relative;
    height: @header-height;
    width: 100%;
    padding: 2px;
    z-index: 1000;

    .menu-button{
        position: absolute;
        right: 4px;
        top: 0;
        font-size: @header-height;
        line-height: @header-height;
        color: #222;
        float: right;
        cursor: pointer;
    }

    svg{
        font-size: 26px !important;
        color: #222;
        position: absolute;
        top: 2px;
    }

    .fa-sign-in-alt, .fa-sign-out-alt{
        right: 8px;
    }

    .fa-user{
        font-size: 22px !important;
    }

    .fa-server{
        left: 8px;
    }

    .fa-server, .fa-sign-in-alt, .fa-sign-out-alt{
        opacity: 0.6;

        &:hover{
            opacity: 0.9;
        }
    }

    .username{
        position: absolute;
        left: 50px;
        color: #222;

        > div {
            margin-left: 24px;
            font-size: 12px;

            div:nth-child(1){
                font-size: 15px;
            }
            div:nth-child(2){
                font-size: 10px;
                font-weight: bold;
                position: relative;
                top: -2px;
            }
        }
    }
}

@import "./menu";