.rest-ui-detail{
    width: 100%;
    height: 80%;
    overflow: unset;
    
    .pizi-spinner{
        font-size: 2em;
        margin-top: 3em;
    }

    .pizi-button{
        &:not(.selected){
            color: @color-teritary;
        }
    }
    
    .detail{
        width: 100%;
        min-height: 500px;
        margin: 0;
        padding: 0;
    }

    .pizi-table{
        height: calc(~"100% - 200px");
        min-height: 300px;
    }

    table{
        tbody{
            color: @color-white;

            tr:nth-child(even){
                background-color: #222;
            }
        }
    }

    .total{
        color: @color-white;
        
        span{
            margin-right: 4px;
        }
    }
}